section.home {
    background:url('../img/bg_home.jpg');
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
}

@font-face {
    src: url('../fonts/SourceSansPro-Regular.otf');
    font-family: 'SourceSansPro';
}

/* Bootstrap Customise */
.bg-transparent {
    background: transparent;
}

.navbar-brand img {
    height: 100%;
    width: auto;
}

.navbar-nav .nav-item a {
    text-transform: uppercase;
    color: #e2e2e6 !important;
}

.navbar-nav li.nav-item  {
    padding-right: 20px;
}
ul.navbar-nav li.nav-item a,
ul.navbar-nav li.nav-item a:after,
ul.navbar-nav li.nav-item a:before {
    transition: all .5s;  
}

ul.navbar-nav li.nav-item a:hover {
    color: #e74c3c !important;
}

ul.navbar-nav li.nav-item a {
    position: relative;
}

ul.navbar-nav li.nav-item a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #e74c3c;
  height: 2px;
}
ul.navbar-nav li.nav-item a:hover:after {
  width: 100%;
}

#carouselBinoHome .carousel-item {
    height: 100vh;
}

#carouselBinoHome .carousel-item .carousel-content {
    position: absolute;
    right: 15%;
    left: 15%;
    z-index: 10;
    padding-top: 15%;
    color: #fff;
    text-align: center; 
    font-family: SourceSansPro;
}

#carouselBinoHome .carousel-item .carousel-content h6.tagline,
#carouselBinoHome .carousel-item .carousel-content h1.big-title
 {
    font-family: SourceSansPro;
}

#carouselBinoHome .carousel-item .carousel-content h1.big-title {
    font-weight: bold;
    text-transform: uppercase;
}

#carouselBinoHome .carousel-item .carousel-content .divider:before,
#carouselBinoHome .carousel-item .carousel-content .divider:after {
    content: '_______';
    color: white;
}
#carouselBinoHome .carousel-item .carousel-content .divider {
    color: #e74c3c;
    font-size: 35px;
    height: 4px;
    font-weight: bolder;
}

#carouselBinoHome .carousel-item .carousel-content .divider:before {
    padding-right: 20px;
}
#carouselBinoHome .carousel-item .carousel-content .divider:after {
    padding-left: 20px;
}

#carouselBinoHome .carousel-item .carousel-content p {
    margin-bottom: 35px;
}

#carouselBinoHome .carousel-item .carousel-content a.button1 ,
#carouselBinoHome .carousel-item .carousel-content a.button2  {
    margin-top: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 17px;
    text-transform: uppercase;
}
#carouselBinoHome .carousel-item .carousel-content a.button1 {
    background: #e74c3c;
    border: 1px solid #e74c3c;
    margin-right: 40px;
}
#carouselBinoHome .carousel-item .carousel-content a.button2 {
    border: 1px solid white;
}


/* End Bootstrap Customise */


/* Section WhoWeAre */

section.whoWeAre .card img.binocard-img {
    width: 50%;
    padding-top: 10px;
    margin: auto;
}

section.whoWeAre .card-no-bordered {
    border: none !important;
}

section.whoWeAre .card-body .card-title {
    text-align: center;
    text-transform: uppercase;
    font-family: SourceSansPro;
    font-weight: bolder;
}

section.whoWeAre .card-body hr {
   width: 30%;
   border-top: 1px solid black;
}

section.aboutUs .image-title-aboutUs img{
    width: 100%;
    height: auto;
}

section.aboutUs {
    margin-top: 100px;
}
section.aboutUs h2.title-text-aboutUs {
    text-transform: uppercase;
    border-left: 5px solid #e74c3c;
    padding-left: 20px;
    font-family: SourceSansPro;
}
section.aboutUs .text-aboutUs {
    margin-bottom: 30px;
}
section.aboutUs a.button-aboutUs {
    text-decoration: none;
    color: white;
    padding: 10px 17px;
    background: #e74c3c;
    border: 1px solid #e74c3c;
    margin-right: 40px;
    text-transform: uppercase;
    font-weight: bolder;  
}

section.ourServices{
    background: url('../img/bg_services.jpg');
    width: 100%;
    height: 100vh;
    background-size: 100% 100%;
}

